.card {
    &__img {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 50px 60px;
        height: 270px;
        margin-bottom: 16px;
        border-radius: 4px;
        overflow: hidden;
        background-color: #F5F5F5;
        @media (max-width: 768px) {
            img {
                width: 100px;
            }
        }
        @media (max-width: 576px) {
            height: 200px;
            padding: 20px;
        }
    }
    &:hover {
        .addToCart {
            bottom: 0;
        }
        .like, .view,
        .delete, .liked {
            right: 12px;
        }
    }
    &__description {
        text-align: left;
        h4 {
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 8px;
        }
    }
    &__price {
        display: flex;
        align-items: center;
        column-gap: 8px;
        p {
            color: #DB4444;
        }
    }
    margin: 0 20px;
    @media (max-width: 576px) {
        margin: 0 8px;
    }
}

.addToCart {
    position: absolute;
    bottom: -30%;
    padding: 8px 0;
    width: 100%;
    text-align: center;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #FFF;
    background: #000;
    transition: .5s;
    cursor: pointer;
}

.like, .liked, .view, .delete {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding: 8px;
    right: -50%;
    border-radius: 50%;
    transition: .5s;
    background-color: #FFF;
    cursor: pointer;
    &:hover {
        color: #DB4444;
    }
}

.liked {
    color: #DB4444;
}

.like, .liked, .delete {
    top: 12px;
}

.view {
    top: 60px;
}