@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
  font-style: normal;
}

*, *::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.container {
  max-width: 1170px;
  padding: 0 20px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style-type: none;
}

input  {
  outline: none;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.back_to_top {
  position: fixed;
  display: flex;
  align-items: center;
  font-size: 22px;
  right: 40px;
  bottom: -100px;
  padding: 14px;
  border-radius: 50%;
  z-index: 10;
  background-color: #F5F5F5;
  cursor: pointer;
  transition: .5s;
}

.isScrolled {
  bottom: 30px;
}

/* @media (min-width: 1500px) {
  .container {
    max-width: 1500px;
  }
} */